.jumbotron  {
	text-align: center;
	padding: 1rem 1rem;
}

.stamp {
	color: red;
	font-weight:bold;
	border-style: solid;
	border-width: 3px;
	border-radius: .75em;
	transform: translate(500px, -50px) rotate(10deg);
	max-width: 10rem;
}

p  {
	text-align: center;
	padding: 0;
}